In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
movie_attributes=pd.read_csv('movies_metadata.csv')
print(movie_attributes.shape)
movie_attributes = movie_attributes[:5000]
movie_attributes.head()

(45466, 24)

c:\users\user\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
def get_title_from_index(index):
	return movie_attributes[movie_attributes.index==index]["title"].values[0]

def get_index_from_title(title):
	return movie_attributes[movie_attributes.title==title]["index"].values[0]

In [4]:
movie_attributes['new_col']=range(0,len(movie_attributes))
movie_attributes=movie_attributes.reset_index()
movie_attributes.head()

,index,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,new_col
0,0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,0
1,1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1
2,2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,2
3,3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,3
4,4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,4

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity




features=['genres','overview','tagline']
#create a column in df which combines all selected features
for feature in features:
	movie_attributes[feature]=movie_attributes[feature].fillna('')

def combine_features(row):
	try:
		return row['genres']+" "+row['overview']+" "+row['tagline']
	except:
		print("error",row)

movie_attributes["combine_features"]=movie_attributes.apply(combine_features,axis=1) #each row individually
print("Combined features: ",movie_attributes["combine_features"].head())


#create count matrix from this new combined column
cv=CountVectorizer()
count_matrix=cv.fit_transform(movie_attributes["combine_features"])

Combined features:  0    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2    [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4    [{'id': 35, 'name': 'Comedy'}] Just when Georg...
Name: combine_features, dtype: object

In [6]:
#compute the cosine similarity based on the count_matrix
import csv
cosine_sim=cosine_similarity(count_matrix)

print(type(cosine_sim))
j=1
while j:
    #print("Enter Movie for which you need recommendation.")
    movie_user_likes=input()
    

    #get the index of this movie from its title
    movie_index=get_index_from_title(movie_user_likes)
    similar_movies=list(enumerate(cosine_sim[movie_index]))

    #get a list of similar movies in descending order
    sorted_similar_movies=sorted(similar_movies,key=lambda x:x[1],reverse=True)[1:]
    i=0
    for movie in sorted_similar_movies:
        print(get_title_from_index(movie[0]))
        i=i+1
        if(i>10):
            break
    print("Want to check another movie?(y/n)")
    choice=input().upper()
    if(choice!='Y'):
        j=0

<class 'numpy.ndarray'>
Jumanji
Godzilla vs. Mothra
The Ewok Adventure
Aliens in the Attic
Santa Claus: The Movie
G-Force
The Road to El Dorado
Tuvalu
3 Ninjas
The Chronicles of Narnia: The Lion, the Witch and the Wardrobe
High School Musical
The 10th Kingdom
Want to check another movie?(y/n)
n

In [7]:
cosine_sim.shape

(15000, 15000)

In [8]:
count_matrix[:1500].shape

(1500, 41555)

In [9]:
temp = cosine_similarity(count_matrix[:1500])
temp.shape

(1500, 1500)